.about-info {
    /* border: 2px solid blue; */
    margin-top: 225px;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-info__paragraph {
    background-color: #1A1A1A;
    border-radius: 1rem;
    padding: 1rem;
    width: 30%;
    height: 500px;
    letter-spacing: 2.5px;
    text-align: center;
}

.about-info__pfp {
    /* border: 2px solid red; */
    background-color: #fff;
    width: 400px;
    height: 400px;
    border-radius: 100%;
}
