
* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    /* background-image: url("https://unsplash.com/photos/grayscale-photo-of-building-Q518TADE3Ns"); */
}

a {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}

button {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: 150ms ease;
}

button:hover {
    transform: scale(1.075);
}


.navbar {
    /* border: 2px solid red;  */
    width: 100%;
    padding: 1rem;
    display: flex; 
    align-items: center;
    background-color: #000;
    justify-content: space-between;
    font-weight: 300;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    /* position: fixed;
    top: 0;  */
}

.navbar__logo {
    /* background-color: #000; */
    /* border: 2px solid blue;  */
    width: 80px;
    height: 80px;
    margin-left: 2rem;
    border-radius: 100%;
    background-color: #fff;
    /* background-image: url("images/roxas-logo.png"); */
    /* background-image: url("https://roxasmelvino.github.io/images/roxas-logo.png"); */
}

.navbar ul {
    /* border: 2px solid red;  */
    list-style-type: none;
    width: 50%;
    display: flex; 
    justify-content: space-around;
}

.navbar__link {
    font-family: inherit;
    font-size: 1.25rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 1rem;
    margin: 5px;
}

.navbar__link--active {
    background-color: #fff;
    color: #000;   
}

.section {
    /* border: 2px solid red;  */
    color: #fff;
    width: 100vw;
    margin-top: 3rem;
    /* height: 100vh; */
}

.section--active {
    display: block;
}

.section--inactive {
    display: none;
}


