
* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /* background-image: url("https://unsplash.com/photos/grayscale-photo-of-building-Q518TADE3Ns"); */
}

a {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}

button {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    transition: 150ms ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.075);
}


.navbar {
    z-index: 1000;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100px;
    top: 0;
    padding: 1rem;
    color: #fff;
    background-color: #000;
    font-weight: 300;
    font-size: 1.25rem;
    cursor: pointer;
    box-shadow: 0 2px 17px #1a1a1a;
}

.navbar__logo {
    /* background-color: #000; */
    /* border: 2px solid blue;  */
    width: 80px;
    height: 80px;
    margin-left: 2rem;
    border-radius: 100%; 
    background-color: #fff;
    background-image: url("../images/roxas-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: url("https://roxasmelvino.github.io/images/roxas-logo.png"); */
}

.navbar ul {
    /* border: 2px solid red;  */
    width: 100vw;
    height: 100%;
    list-style-type: none;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.navbar li:first-child {
    margin-right: auto;
}

.navbar li:last-child {
    margin-right: 3rem;
}

.navbar__link {
    font-family: inherit;
    font-size: 1.25rem;
    background-color: #000;
    color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    /* border-radius: 1rem; */
    margin: 5px;
    cursor: pointer;    
}

.navbar__link--active {
    background-color: #fff;
    color: #000;   
}

.section {
    /* border: 2px solid red;  */
    color: #fff;
    width: 100vw;
    margin-top: 3rem;
}

.section--active {
    display: block;
}

.section--inactive {
    display: none !important;
}

.blur-background {
    backdrop-filter: blur(5px);
}


