.projects-section {
    /* border: 2px solid red;  */
    height: 80vh; 
    display: flex;
    flex-direction: column;    
    align-items: center;   
    position: relative;
}

.modal {
    z-index: 1000;
    position: fixed;
    top: calc((100vh / 2) / 4);
    color: #fff;
    background-color: #1a1a1a;
    min-width: 450px;
    min-height: 450px;
    border-radius: 1rem;
    width: 80vw;
    height: 85vh;
    padding: 1rem;
    overflow-y: auto;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 95%;
}

.modal-content__header {
    font-size: 2.5em;
    letter-spacing: 8px;
}


.modal-content__link {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 80%;
    transition: 150ms ease;
}

.modal-content__link:hover {
    transform: scale(1.025);
}

.modal--close  {
    /* border: 2px solid red;  */
    position: fixed;
    color: #D44720;
    background: none; 
    font-size: 1.15rem;
}

.projects-header {
    font-size: 65px; 
    letter-spacing: 16px;
    font-weight: bold;
}

.projects-desc {
    color: #bfbfbf;
}

.divider {
    width: 10%; 
    max-width: 200px; 
    border-color: #E9A752;
    margin: 15px;
}

.main__categories, .category-items {
    /* border: 2px solid red;  */
    width: 95vw;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.main__categories {
    flex-direction: column;
    align-items: center;
}

.category-items {
}

.main__categories-category {
    display: flex; 
    justify-content: space-between;
    margin: 10px;
    width: 75%; 
    height: 300px; 
    font-family: inherit;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #fff;
    padding: 1rem;
}

.main__categories-category .cta-block {
    background-color: #1A1A1A;
    width: 85%;
    padding-left: 2rem; 
    border-radius: 16px 0px 0px 16px;
}

.main__categories-category h2 {
    margin-bottom: 0; 
}

.main__categories-category p {
    font-size: 1rem;
    margin-top: 3px;
    width: 75%;
    color: #BFBFBF;
}

.main__categories-category button {
    font-family: inherit;
    border-radius: 100px;
    background-color: #E9A752;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 25px;
}

.main__categories-category .category-image {
    height: 100%;
    width: 45%; 
    border-radius: 0px 16px 16px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.category-item {
    display: flex; 
    flex-direction: column;
    width: 400px;
    height: 450px;
    margin: 1rem; 
    font-family: inherit;
    padding: 0; 
    color: #fff;
    background-color: #1A1A1A;
    border-radius: 1rem;
}

.category-item__image {
    /* border: 2px solid red;  */
    width: 400px;
    height: 275px; 
    object-fit: cover;
    object-position: center;
    border-radius: 16px 16px 0 0;
}

.category-item__name {
    margin-top: 4px;    
    margin-bottom: 1.8px;
}

.category-item__desc {
    margin: 0; 
}

.category-item__btn {
    font-family: inherit;
    background-color: #E9A752;
    color: #fff;
    margin-top: 25px;
}

.category-item__info {
    /* border: 2px solid red; */
    margin: 0; 
    padding-left: 1rem; 
}

.close-category-btn {
    background: none;
    color: #D44720;
    /* border: 1px solid #D44720; */
}

.display-none {
    display: none !important;
}
