.projects-section {
    /* border: 2px solid red;  */
    height: 80vh; 
    display: flex;
    flex-direction: column;    
    align-items: center;   
    position: relative;
}


.modal {
    z-index: 1000;
    /* display: flex; */
    color: #000;
    background-color: #ffffff;
    position: fixed;
    min-width: 450px;
    min-height: 450px;
    border-radius: 1rem;
    width: 65vw;
    height: 75vh;
    padding: 1rem;
}

.modal--close  {
    /* border: 2px solid red;  */
}

.projects-header {
    font-size: 65px; 
    letter-spacing: 16px;
}

.divider {
    width: 10%; 
    max-width: 200px; 
    border-color: #E9A752;
    margin: 30px;
}

.main__categories, .categories {
    /* border: 2px solid red;  */
    width: 800px;
    height: 800px;
    display: flex; 
    /* justify-content: center; */
    flex-wrap: wrap;
}

.main__categories-category, .category__item {
    margin: 20px;
    width: 200px; 
    height: 200px; 
    font-family: inherit;
    font-size: 1.5rem;
    letter-spacing: 2px;
    background-color: #1A1A1A;
    color: #fff;
}

/* .category__item {
    
} */

.close-category-btn {
    background: none;
    color: #fff;
}

.display-none {
    display: none !important;
}
